#clock {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #64473a;
	font-size: 40vw;
	text-align: center;
}

#date {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #64473a;
	font-size: 13vw;
	text-align: center;
}