#clock {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #64473a;
	font-size: 5vw;
	text-align: center;
}

#date {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #64473a;
	font-size: 1.8vw;
	text-align: center;
}